@import "../../../sass/helpers/variable.scss";
.container {
  padding: 2.35rem;
  border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  .img-link-wrapper {
    width: 30rem;
    height: 3rem;
    .img {
      width: 100%;
      height: 100%;
    }
  }
}
