@import "../../../../sass/helpers/variable.scss";
.product-filter-wrapper {
  margin-bottom: 4.3rem;
  background-color: $white-1;
  border: 0.1rem solid $border-color-1;
  border-radius: 0.4rem;
  padding: 2.8rem 3.5rem !important;
}
