@import "../../../../sass/helpers/variable.scss";
@import "../../../../sass/helpers/mixin.scss";
.popular-product-wrapper {
  .popular-product-img-link-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    .popular-product-img-wrapper {
      position: relative;
      padding-top: 65%;
      .popular-product-img {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
      }
    }
  }
  .product-title-link {
    @include text-style(
      $fs-7,
      $medium,
      1,
      0.1rem,
      center,
      uppercase,
      $primary-color
    );
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
  }
}
