.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.x-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-item-horizontal-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-item-horizontal-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.y-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gap-1 {
  gap: 2rem;
}

.mb-block {
  margin-bottom: 2.8rem;
}

.mb-section {
  margin-bottom: 8.4rem;
}

.mt-1 {
  margin-top: 1.4rem;
}

.mt-2 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.header-button {
  width: 4rem;
  height: 4rem;
}

.header-button:hover {
  cursor: pointer;
}

.primary-title-text-style {
  font-size: 1.386rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-align: left;
  text-transform: uppercase;
  color: #272525;
}

.primary-text-style {
  font-size: 1.16rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-align: left;
  text-transform: capitalize;
  color: #272525;
  display: inline-block;
  position: relative;
}

.primary-text-style::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(39, 37, 37, 0.6);
  display: none;
}

.primary-text-style:hover::after {
  display: block;
}

.page-section-boder-bottom {
  border-bottom: 0.1px solid #00240f;
}

.entry-title {
  font-size: 2.772rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01rem;
  text-align: left;
  text-transform: uppercase;
  color: #272525;
}

.h1-size-xl {
  font-size: 3.3264rem;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h2-size-default {
  font-size: 2.394rem;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h2-size-large {
  font-size: 3.2492rem;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h3-size-default {
  font-size: 2.016rem;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.2rem;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h4-size-default {
  font-size: 1.67958rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h4-size-xl {
  font-size: 2.772rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #262626;
}

.h6-size-default {
  font-size: 1.386rem;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #272525;
}

.paragraph-text-style, .paragraph-text-style-strong {
  font-size: 1.26rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  color: #272525;
}

.paragraph-text-style-strong {
  font-weight: 600;
}

.span-text {
  font-size: 1.26rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.page-content-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  color: #474d58;
}

.primary-text-btn-content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.18rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.between-line {
  position: relative;
}

.between-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  border-width: 0.1rem;
  border-color: rgba(108, 117, 125, 0.25);
  border-style: dashed;
}

.column-style, .table thead tr th, .table tbody tr td {
  background-color: transparent;
}

.table {
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.table thead tr th {
  padding: 0rem 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.386rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: none;
  text-align: left;
  text-transform: uppercase;
  color: #5a6474;
}

.table tbody tr td {
  border: none;
  padding: 2rem 1.5rem;
  font-size: 1.26rem;
  font-weight: 500;
  line-height: none;
  letter-spacing: none;
  text-align: left;
  text-transform: none;
  color: #5a6474;
}
/*# sourceMappingURL=Table.module.css.map */