@import "../../../sass/helpers/variable.scss";
@import "../../../sass/helpers/mixin.scss";

.wrapper {
  padding-bottom: 4.2rem;
  .information {
    @include flex-box(column, 1.6rem, null, null);
    .information-col-list {
      @include flex-box(column, 1.1rem, null, null);
    }
  }
  .contact {
    @include flex-box(column, 1.6rem, null, null);
    .contact-col-list {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      .contact-col-item {
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
        padding-bottom: 0.4rem;
        &:not(:last-child) {
          border-bottom: 1px dashed $primary-color;
        }
        .contact-col-item-icon-wrapper {
          width: 14px;
          height: 14px;
          & svg {
            font-size: 1.2rem;
            color: #333;
          }
        }
      }
    }
  }
}
