@import "../../../sass/helpers/variable.scss";
@import "../../../sass/helpers/mixin.scss";
.container {
  padding: 0.35rem;
  background-color: $black-1;

  .private-policy-list {
    display: flex;
    align-items: center;
    gap: 12px;
    .private-policy-item {
      .private-policy-item-link {
        @include text-style(
          $fs-1,
          $normal,
          1,
          0,
          center,
          capitalize,
          $white-color
        );
        text-decoration: none;
      }
    }
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    .content {
      @include text-style(
        $fs-1,
        $normal,
        1,
        0.1rem,
        left,
        capitalize,
        $white-color
      );
    }
    .img-link-wrapper {
      display: block;
      width: 120px;
      height: 12px;
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .social-icon-list {
    display: flex;
    align-items: center;
    gap: 8px;
    .social-icon-item {
      background-color: rgba($color: $white-color, $alpha: 0.8);
      border-radius: 50%;
      .social-icon-link-wrapper {
        width: 3.6rem;
        height: 3.6rem;
        .social-icon {
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}
