@import "../../../sass/helpers/variable.scss";
@import "../../../sass/helpers/mixin.scss";
.container {
  padding: 2.8rem 4.2rem;
  border-top: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  .input-wrapper {
    @include flex-box(row, 1.8rem, center, none);
    .input-content {
      @include text-style(
        $fs-7,
        $semi-bold,
        1,
        0.1rem,
        left,
        uppercase,
        $black-2
      );
    }
    .input-bar {
      display: flex;
      align-items: center;
      .input {
        height: 4.4rem;
        outline: none;
        border: none;
        padding: 0.94rem 3.2rem 0.96rem 1.2rem;
        border-top: 1px solid #818a91;
        border-bottom: 1px solid #818a91;
        border-left: 1px solid #818a91;
        background-color: transparent;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        color: #373a3c;
        &::placeholder {
          @include text-style(
            $fs-1,
            $normal,
            1,
            0.1rem,
            left,
            uppercase,
            #373a3c
          );
        }
      }
      .submit-button-content {
        @include text-style(
          $fs-1,
          $normal,
          1,
          0,
          center,
          uppercase,
          $white-color
        );
      }
    }
  }
}
