@import "../../../sass/helpers/variable.scss";
@import "../../../sass/helpers/mixin.scss";
@import "../../../sass/helpers/extend.scss";

.icon-wrapper {
  width: 1.8rem;
  height: 1.8rem;
  @include flex-box(row, none, center, center);
  & svg {
    font-size: 1.4rem;
    color: $gray-8;
  }
}

.wrapper {
  width: 24rem;
  height: 100vh;
  border-right: 0.1rem solid rgba($color: $black-5, $alpha: 0.1);
  background-color: $white-5;
  @include flex-box(column, 2rem, none, none);
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-header {
  height: 6.2rem;
  padding-left: 2rem;
  background-color: $admin-primary-color;
  @include flex-box(row, none, center, space-between);
}

.user-action-wrapper {
  @include flex-box(row, 1rem, center, none);
  padding: 0 2rem 1.4rem;
  border-bottom: 0.1rem solid rgba($color: $gray-2, $alpha: 0.4);
  .user-avatar-wrapper {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    & img {
      width: 100%;
      height: 100%;
      background-size: contain;
      border-radius: 50%;
    }
  }
  .user-information {
    @include flex-box(column, 0.8rem, none, none);
    .user-role {
      @include text-style(
        $fs-2,
        $medium,
        none,
        none,
        left,
        capitalize,
        $gray-4
      );
    }
    .user-name {
      @include text-style(
        $fs-2,
        $normal,
        none,
        none,
        left,
        capitalize,
        $gray-2
      );
    }
  }
}
