@import "../../../../sass/helpers/variable.scss";
@import "../../../../sass/helpers/mixin.scss";
.cart-img-wrapper {
  margin-top: 5.682rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f8f8f8;
  .cart-img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
}
.cart-slider-content {
  margin: 1.8rem 0 3.5rem;
  @include text-style($fs-2, $normal, 1, 0, center, none, $primary-color);
}
