@import "../../../../sass/helpers/variable.scss";
@import "../../../../sass/helpers/mixin.scss";
$login-form-wide: 44rem;
.auth-page-form-container {
  margin-top: 2rem;
  padding: 4rem 0;

  border-bottom: 0.1rem solid rgba($color: $primary-color, $alpha: 0.4);
  .auth-page-form {
    width: $login-form-wide;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    background: $white-color;
    border: 1px solid #e7e7ea;
    border-radius: 10px;

    .sign-up-with-google-wrapper {
      padding-bottom: 3rem;
      border-bottom: 0.1rem solid rgba($color: $border-color, $alpha: 0.2);
      position: relative;
      &:after {
        content: "Or continue with Google";
        position: absolute;
        top: 90.8%;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.1rem;
        background-color: #fff;
        @include text-style(1.3rem, $medium, 1, 0, center, none, #b2b3bd);
      }
      .sign-up-with-google-btn-content-wrapper {
        @include flex-box(row, 1rem, center, center);
        & img {
          width: 2rem;
          height: 2rem;
        }
        .sign-up-with-google-btn-content {
          @include text-style(1.4rem, $bold, 1, 0, none, none, $border-color);
        }
      }
    }
  }
}

.auth-page-form-header {
  .auth-page-form-title {
    @include text-style(2rem, $bold, 3rem, 0, left, none, $black-5);
  }
  .auth-page-form-subtitle {
    @include text-style(1.3rem, $semi-bold, 1, 0, left, none, $gray-2);
  }
}
