@import "../../../sass/helpers/variable.scss";
@import "../../../sass/helpers/mixin.scss";
// ? Section extend
.section-container {
  padding: 8.4rem 0;
  background-color: $white-color;
  &.border-top {
    border-top: 0.1rem solid $border-section;
  }
  &.border-bottom {
    border-bottom: 0.1rem solid $border-section;
  }
  &.border-right {
    border-right: 0.1rem solid $border-section;
  }
  &.border-left {
    border-left: 0.1rem solid $border-section;
  }
  .section-content-wrapper {
    @include flex-box(column, 4.8rem, null, null);
    display: flex !important;
    .section-title {
      @include text-style(
        $fs-9,
        $medium,
        1,
        0.1rem,
        center,
        uppercase,
        $black-1
      );
    }
  }
}
