@import "../../../../sass/helpers/variable.scss";
@import "../../../../sass/helpers/mixin.scss";
@import "../../../../sass/helpers/extend.scss";
.product-description-wrapper {
  padding: 6rem 2rem;

  border-bottom: $border-style;
  .product-detail-img-link {
    width: 100%;
    height: 100%;
    @include flex-box(row, none, center, center);
    .product-detailt-img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
  .product-img-list-wrapper {
    @extend .flex-center;
    .product-img-list {
      @include flex-box(column, 1.4rem, none, none);
      .product-img-item {
        border: $border-style;
        .product-img-link-wrapper {
          display: block;
          width: 8.8rem;
          height: 8.8rem;
          border-radius: 0.4rem;
          & img {
            width: 100%;
            height: 100%;
            border-radius: 0.4rem;
          }
        }
      }
    }
  }
  .product-information-wrapper {
    @include flex-box(column, 2rem, none, none);
    .product-name {
      @include text-style(
        $fs-9,
        $medium,
        none,
        none,
        left,
        uppercase,
        $primary-color
      );
    }
    .product-price-wrapper {
      @include flex-box(row, 1rem, center, none);
      .old-price {
        @include text-style($fs-6, $normal, none, none, left, none, $gray-1);
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 0.1rem;
          background-color: $gray-1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
      .discount-price {
        @extend .old-price;
        font-size: $fs-7;
        color: $red-1;
        &::after {
          display: none;
        }
      }
    }
  }

  .product-meta-wrapper {
    @include flex-box(column, none, flex-start, none);
    .product-meta-row-content {
      width: 100%;
      padding: 0.8rem 0;
      border-bottom: 0.1rem solid $rgba-black-1;
      @include flex-box(row, 0.2rem, center, none);
      .label {
        @include text-style($fs-2, $medium, none, none, left, none, $black-2);
      }
      .caption {
        @extend .label;
        font-size: $fs-1;
        font-weight: $normal;
      }
    }
  }
}
