@import "../../../../sass/helpers/variable.scss";
@import "../../../../sass/helpers/mixin.scss";
@import "../../../../sass/helpers/extend.scss";
.cart-total-wrapper {
  @include flex-box(row, none, center, space-between);
}

.cart-buttons {
  @include flex-box(column, 0.6rem, none, none);
}

.card-loading-wrapper {
  width: 100%;

  padding: 2rem 1rem;
  @include flex-box(row, none, none, space-between);
  // @extend .animation-background;
  .img-loader {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    @extend .animation-background;
  }
  .content-loader {
    height: 6rem;
    width: 80%;

    &-line-1 {
      width: 100%;
      height: 2.5rem;
      @extend .animation-background;
      margin-bottom: 1rem;
    }
    &-line-2 {
      width: 100%;
      height: 2.5rem;
      @extend .animation-background;
    }
  }
}
